<h2>Bienvenidos a valoralo.mx</h2>
<p>
  La hora actual es: <%= Time.now %>
</p>
<p>
  Recibe opiniones, comentarios, testimonios, felicitaciones, revisiones y quejas de tus clientes en piloto automático
</p>
